attr# compiled output
/dist
/tmp

# dependencies
/node_modules
/cypress/videos

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.vscode/launch.json
!.vscode/extensions.json
.history

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

#System Files
.DS_Store
Thumbs.db

#Cypress report files
/cypress/report
/cypress/screenshots
/cypress/videos/

#Example files
/cypress/cypress/integration/examples/

# Report Files
/output.json
/cypress/report/**/*
/mochawesome-report
